
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "6f9aeb18bcd0b38f80574aab83490a68216c39d6"}
         mt-utilities/cljs-time    {:git/url "https://github.com/mt-utilities/cljs-time"
                                    :sha     "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         reagent/reagent           {:mvn/version "1.2.0"}}}
