
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "a8b054558a9c01459581b4d2887bb7ee7b5ff1e2"}
         mt-utilities/cljs-time    {:git/url "https://github.com/mt-utilities/cljs-time"
                                    :sha     "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         reagent/reagent           {:mvn/version "1.2.0"}}}
