
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "f0740253a2f7c1882de6e1d4cc3713a84522ee00"}
         bithandshake/cljs-time    {:git/url "https://github.com/bithandshake/cljs-time"
                                    :sha     "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         reagent/reagent           {:mvn/version "1.2.0"}}}
